html, body {
    margin: 0;
    padding: 0;
    height: 1150px;
  }
  
.tooltip {
  position: absolute;
  text-align: left;
  padding: .8rem;
  background: white;
  color: black;
  border: solid;
  border-radius: 5px;
  pointer-events: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  white-space: pre;
}

.plot{
  position: relative;
  top: -26vh;
}
.container {
  position: relative;
  left: 4vw;
  top: 5vh;
  width: 90%;
}

.container h1 {
  font-family:"Courier New";
  width: 90vw;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  /* top: 25px; */
}

.container h2 {
  font-family:"Courier New";
  font-size: 20px;
  font-weight:100;
  position: relative;
  width: 90vw;
  top: 0vw;
  /* top: 70px; */
}

.container p1 {
  font-family:"Courier New";
  font-size: 17px;
  font-weight:100;
  position: relative;
  top: 75vh;
  left: 2vw;
}
.container p2 {
  font-family:"Courier New";
  font-size: 17px;
  font-weight:100;
  position: relative;
  float: left;
  top: 78vh;
  left: 2vw;
}
.container p3 {
  font-family:"Courier New";
  font-size: 17px;
  font-weight:100;
  position: relative;
  float: left;
  top: 81vh;
  left: 2vw;
}


#backBtn1{
  position: relative;
  top: -.5vh;
  font-family:"Courier New";
}

#backBtn2{
  position: relative;
  top: 950px;
  font-family:"Courier New";
  left: -50px;
}

#nextBtn1{
  position: relative;
  top: -.5vh;
  left: 80vw;
  font-family:"Courier New";
}

#nextBtn2{
  position: relative;
  top: 1500px;
  left: 1150px;
  font-family:"Courier New";
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.button{
  position: relative;
  font-family:"Courier New";
  /* background-color: #313639; */
  color: black;
  /* color: white; */
  border: solid;
  border-radius: 2px;
  padding: 7px;
  cursor: pointer;
  transition-duration: 0.3s;
  z-index: 100;
}

.button:hover{
  opacity: .6;
  /* color: white; */
  z-index: 100;
}
