html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
  
}

div.tooltipV3 {
  position: absolute;
  text-align: left;
  padding: .6rem;
  background: white;
  color: black;
  border: solid;
  border-radius: 5px;
  pointer-events: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  white-space: pre;
  z-index: 100;

}
.container {
  color: white;
  position: absolute;
  left: 40px;
  top: 20px;
}

.container h1 {
  color: white;
  font-family:"Courier New";
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: 5px;
  left: 10px;
}

.container h2 {
  color: white;
  font-family:"Courier New";
  font-size: 17px;
  font-weight:100;
  position: relative;
  top: 10px;
  left: 10px;
}

.container btn {
  font-family:"Courier New";
  font-size: 17px;
  font-weight:100;
  position: relative;
  top: 20px;
  left: 10px;
}

.chart{
  position: relative;
  left: 40px;
  top: 170px;
  opacity: .9;
  filter:saturate(.8);
  /* stroke-width: .2px; */
}

button{
  font-family:"Courier New";
  background-color: #313639;
  color: white;
  border: solid;
  border-radius: 2px;
  padding: 8px;
  cursor: pointer;
  transition-duration: 0.3s;

}

button:hover{
  opacity: .6;
  /* color: white; */
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}