html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
  
}

div.tooltip {

  /* position: absolute;
  text-align: left;
  padding: .6rem;
  background: #313639;
  color: #f9f9f9;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  white-space: pre;
  z-index: 100; */

  position: absolute;
  text-align: left;
  padding: .6rem;
  background: white;
  color: black;
  border: solid;
  border-radius: 5px;
  pointer-events: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  white-space: pre;
  z-index: 100;

}
.container {
  color: white;
  position: absolute;
  left: 40px;
  top: 20px;
}

.container h1 {
  color: white;
  font-family:"Courier New";
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: 5px;
  left: 10px;
}

.container h2 {
  color: white;
  font-family:"Courier New";
  font-size: 17px;
  font-weight:100;
  position: relative;
  top: 10px;
  left: 10px;
}

.container btn {
  font-family:"Courier New";
  font-size: 17px;
  font-weight:100;
  position: relative;
  top: 20px;
  left: 10px;
}

.chart{
  position: relative;
  left: 40px;
  top: 170px;
  opacity: .9;
  filter:saturate(1)
}

button{
  font-family:"Courier New";
  background-color: #313639;
  color: white;
  border: solid;
  border-radius: 2px;
}