html, body {
    margin: 0;
    padding: 0;
  }

#oscars{
    position: absolute;
    width: 700px;
    /* left: 350px; */
    left: 25%;
    top: 20%;
}

.button{
    position: absolute;
    top: 58%;
    left: 40%;
    font-family:"Courier New";
    /* background-color: #313639; */
    color: white;
    border: solid;
    border-radius: 2px;
    padding: 8px;
    cursor: pointer;
    transition-duration: 0.3s;
    z-index: 100;
}

.button:hover{
    opacity: .6;
    /* color: white; */
    z-index: 100;
  }
  